body {
  padding-top: 56px;
  font-family: 'satisfyregular';
}

h1, h2, h3, h4 {
  font-family: 'satisfyregular';
}

.card-img-top {
  max-width: 75px;
  height: auto;
  align-items: center;
}

.carousel-item {
  width: 100%;
  height: auto;
}

// ID
#av {
  width: 100%;
  height: 100%;
}

#shopping-cart {
  color: white;
}
